<p></p>

<label>Product Name</label>
<input type="text" [(ngModel)]="iproductname">
<br>
<br>
<label>Product Category</label>
<input type="text" [(ngModel)]="iproductcategory">
<br>
<br>
<label>Frame Type</label>
<input type="text" [(ngModel)]="iframetype">
<br>
<br>
<label>Frame Material</label>
<input type="text" [(ngModel)]="iframematerial">
<br>
<br>
<label>Frame Shape</label>
<input type="text" [(ngModel)]="iframeshape">
<br>
<br>
<label>Lens Material</label>
<input type="text" [(ngModel)]="ilensmaterial">
<br>
<br>
<label>Gender</label>
<input type="text" [(ngModel)]="igender">
<br>
<br>
<label>Age Group</label>
<input type="text" [(ngModel)]="iagegroup">
<br>
<br>
<label>Del Product Rate</label>
<input type="text" [(ngModel)]="idelproductrate">
<br>
<br>
<label>Sale Product Rate</label>
<input type="text" [(ngModel)]="isaleproductrate">
<br>
<br>
<button (click)="addnewproduct()"><span>Add Product</span></button>

